div.App {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 3fr;
}

.header {
	width: 100%;
	background-color: #1f2937;
	display: grid;
	grid-template-rows: 1fr 1fr;
	text-align: center;
}

.gameboard-container {
	width: 100%;
	min-height: auto;
	display: flex;
	justify-content: center;
}

.rules {
	background-color: #374151;
	color: #ca8a04;
}
h1 {
	color: #eab308;
}
